<%- include("./partials/header.ejs")%>
<body>
    <nav>
        <div class="logo">Storeroom</div>
        <div class="links">
            <div class="item active"><a href="/">Home</a></div>
            <div class="item"><a href="/about">About</a></div>
            <div class="item"><a href="/contact">Contact</a></div>
            <div class="item"><a href="/account">Account</a></div>
        </div>
    </nav>
    <h1>hello</h1>
</body>
</html>